/*BODY CSS*/

body {
  font-size: 14px;
}

/* --------------------------- HEAD HERO AREA*/

.aloha_head {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
}

#logo {
  margin: 10px;
  flex: 0 1 20%;
  order: 1;
}

#logo img{
  max-height: 47px;
}

nav {
  display: flex;
  order: 3;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d7d7d7;
  width: 95%;
}

.nav_list a {
  font-family: 'raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  padding: 5px;
  color: #e2574c;
  text-decoration: none;
  margin: 10px;
}

#cart {
flex: 0 1 20%;
order: 2;
}

#cart img {
  width: 100%;
  height: 6vh;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  padding-top: 250px;
  padding-bottom: 40px;
  background:
    linear-gradient( to bottom, rgba(0,0,0,0.2) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('../assets/images/banner-girl.png') no-repeat center 165px,
    url('../assets/images/flower-bkgd.jpg') repeat-x center top ;
  background-size: auto, 150px, 775px, contain;
  text-align: center;
  margin-bottom: 50px;
}

#hero_cta {
  display: flex;
  position: relative;
  max-width: 300px;
  height: 30%;
  text-align: center;
  margin: 0 auto;
  z-index: 5;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* --------------------- MAIN BODY AND PRODUCTS*/

.main_text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.main_hr {
  margin: 50px 0px;
  color: #969696;
}


.product {
  width: 100%;
  margin: 0 auto;
}

.product img {
  width: 100%;
}

/* ------------------------- CTA */

#updates {
  width: 100%;
  height: 100%;
  background:
    url('../assets/images/wave-bkgd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
}

#subscribe {
  background-color: #fff;
  border-radius: 25px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.aloha_button {
  background-color: red;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 25px;
  width: 30%;
  height: 90%;
  color: #fff;
  font-size: 1rem;
}

input[type="textarea"] {
  border: none;
  width: 65%;
  height: 100%;
  font-size: 1rem;
}

input[type="email"] {
  border: none;
  width: 65%;
  height: 100%;
  font-size: 1rem;
}

form {
  width: 100%;
  height: 100%;
}

/* --------------------- SLIDER*/

#featured {
  width: 100%;
}

/* --------------------- FOOTER */

footer {
  width: 100%;
  background-color: #242424;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  font-family: 'playfair', serif;
  font-size: 1.1em;
  color: #fff;
  text-align: left;
}

.footer_gray {
  font-family: 'playfair', serif;
  text-align: left;
  color: #969696;
  font-size: 1.1em;
  margin-top: 20px;
}

.pTopMargin {
  margin-top: 25px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  text-decoration: underline;
  color: #fff;
}

#footer_wrap {
  max-width: 700px;
  margin: 0 auto;
}

.contact_info {
  text-align: left;
}

#social {
  width: 23%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
}

.fa {
  color: white;
  padding: 4px;
}

li {
  display: flex;
}

.socialButtons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/* -------------------------------- FONTS*/

.italic {
  font-style: italic;
}

.bold {
 font-style: normal;
 font-weight: bold;
}

.signup {
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}

h1 {
  font-family: 'playfair', serif;
  font-size: 2.2rem;
  color: #2d2d2d;
  margin: 20px;
}

h2 {
  font-family: 'raleway', sans-serif;
  font-size: 1.8rem;
  color: #2d2d2d;
}

h3 {
  font-family: 'raleway', sans-serif;
  font-size: 0.8rem;
  color: #2d2d2d;
  line-height: 220%;
}

h4 {
  font-family: 'playfair', serif;
  font-size: 2.2rem;
  color: #2d2d2d;
  margin: 20px;
}

h5 {
  color: #242424;
}

.psocial {
  display: none;
  margin: 5px;
}

#updates h3 {
  text-align: center;
  padding: 10px;
}

.h1hero {
  font-family: 'playfair', serif;
  color: #fff;
  text-shadow: 0px 0px 10px #2d2d2d;
  font-size: 2.2rem;
  margin-top: 20px;
}

.h2hero {
  font-family: 'raleway', sans-serif;
  color: #fff;
  text-shadow: 0px 0px 10px #000;
  font-size: 1.1rem;
  margin-top: 20px;
  text-transform: uppercase;
}

.catagory_name {
  font-family: 'raleway', sans-serif;
  color: #969696;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 18px;
}

.product_name {
  font-family: 'playfair', serif;
  color: #e2574c;
  font-size: 1.5rem;
  margin-bottom: 18px;
}

.product_price {
  font-family: 'raleway', sans-serif;;
  color: #969696;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* --------------------- MEDIA QUERIES*/

@media screen and (min-width: 600px)  {

  #girl {
    width: 30%;
    left: 35%;
  }

  #hero_cta {
    max-width: 400px;
  }

  .product {
    width: 50%;
  }

  #footer_wrap {
    display: flex;
    justify-content: space-between;
  }

  #social {
    margin-top: 0px;
    margin: 0px;
  }

  .socialButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  nav {
    order: 2;
    width: 40%;
  }

  .aloha_head {
    flex-wrap: nowrap;
  }

  .nav_list {
    border-top: 0px;
  }

  .psocial {
    display: inline-block;
    font-family: 'raleway', sans-serif;
    font-size: 1.2rem;
    color: #fff;
  }

  h1 {
    font-size: 2.2rem;
    margin: 10px;
  }

  h3 {
    font-size: 1.2rem;
    max-width: 900px;
    margin: 0 auto;
  }

  i {
    display: inline-block;
    width: 30px;
  }

  #subscribe {
    max-width: 40%;
    height: 2.3rem;
  }

  .womens_block {
    /*height: 190px;*/
  }

}

@media screen and (min-width: 1240px) {

  #girl {
    width: 20%;
    left: 40%;
  }

  .product {
    width: 25%;
  }

}
